main {
  flex: 1;
  display: flex;
}

.lSection, .rSection {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lSection img {
  width: 75%;
  height: 600px;
  position: absolute;
  pointer-events: none;
}

@media (max-width: 1000px) {
  main {
    flex-direction: column;
  }
  .lSection {
    flex: none;
    height: 60px;
  }
  .lSection img {
    width: 90%;
    height: 90%;
  }
  .rSection__pt2 {
    width: auto !important;
  }
  .rSection .rSection__welcome1 p {
    word-break: break-all;
    overflow-wrap: break-word;
  }
  .rSection .rSection__welcome2 p {
    word-break: normal;
  }
}
@media (max-width: 500px) {
  .rSection .rSection__welcome1 p {
    font-size: 2.5rem;
  }
  .rSection .rSection__welcome2 p {
    font-size: 1.5rem;
  }
  .rSection__pt2 {
    width: 100% !important;
  }
}