.stepOne, .stepTwo {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.stepOne .part1 {
    font-size: 4rem;
    margin: 0;
    font-weight: bold;
    line-height: 1.4;
}
.stepOne .part2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 25px 0 25px 0;
    white-space: nowrap;
}

.stepTwo .part1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.stepTwo .part2 {
    display: flex;
    align-items: center;
    gap: 5px;
}
.stepTwo .part3 {
    display: flex;
    padding: 5px 0 0 0;
}
.stepTwo .part4 {
    display: flex;
    font-size: 0.75rem;
    line-height: 1.2;
    padding-right: 60%;
}
.stepTwo .part5 {
    display: flex;
    flex-direction: column;
}

.stepTwo .part2::before,
.stepTwo .part2::after {
    content: '';
    width: 125px;
    height: 1px;
    background-color: rgba(255, 255, 2555, 0.25);
}
.stepTwo .part2 p, .stepTwo .part4 p {
    margin: 4px;
}

.stepTwo .part4 span {
    color: rgb(29, 155, 240);
    user-select: none;
}
.stepTwo .part4 span:hover {
    cursor: pointer;
    color: rgba(29, 155, 240, 0.8);
    text-decoration: underline;
}

.stepTwo .part5 p {
    font-weight: bold;
    font-size: 1.1rem;
}