.profilePage{
    display: flex;
    margin: 0 auto;
    width: 100%;
}
.profileMain {
    min-width: 700px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
}
.lAside, .rAside {
    height: 100vh;
    position: sticky;
    top: 0px;
}
.lAside {
    flex: 1;
    min-width: 65px;
}
.rAside {
    flex: 1;
}
@media (max-width: 770px) {
    .profileMain {
        flex: 1;
        min-width: 308px;
    }
    .lAside {
        flex: 0;
    }
    .rAside {
        display: none;
    }
}

/* Left - Aside */
.twitterLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.twitterLogo img {
    height: 58px;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    word-break: break-all;
}
@media (max-width: 980px) {
    .twitterLogo {
        margin-top: 5%;
    }
}

/* Main */
header {
    width: 100%;
    height: 250px;
    background-image: none;
    position: relative;
    overflow: hidden;
    pointer-events: none;
}
header video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 50%;
    filter: blur(4px);
    pointer-events: none;
}
header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(4px);
    pointer-events: none;
}

.profile_info {
    height: 250px;
}
.profile_info_IMG {
    height: fit-content;
    display: flex;
    position: absolute;
    top: 185px;
    margin-left: 40px;
}
.profile_info_IMG img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 0;
}
@media (max-width: 400px) {
    .profile_info_IMG {
        transform:translateX(-20%);
    }
}
.profile_info_editButton {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2%;
}
.profile_info_name {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 20px;
}
.profile_info_name_fullname {
    flex: 1;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}
.profile_info_name_fullname span {
    padding-right: 2px;
}
.profile_info_name_fullname img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
}
.profile_info_name_findname {
    flex: 1;
    color: rgba(100, 104, 109, 1);
}
.profile_info_registration {
    color: rgba(100, 104, 109, 1);
    display: flex;
    gap: 5px;
    padding-left: 20px;
}
.profile_info_registration img {
    width: 1rem;
}
.profile_info_subs {
    display: flex;
    gap: 1rem;
    padding-top: 12px;
    padding-left: 20px;
}
.profile_info_subs p {
    color: rgba(100, 104, 109, 1);
}
.profile_info_subs span {
    color: white;
    font-weight: bold;
}

/* Future Components */

.post {
    width: 100%;
    height: 200px;
    outline: 1px solid orange;
}