#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
}
